.footer {
  background-color: var(--background-color-transparent);
  opacity: 1;

  padding: 20px 0;

  border-top: 1px solid var(--background-color-transparent);

  text-align: center;

  height: var(--footer-height);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1200px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--text-hover-color);
}
