.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  background-color: var(--background-color-transparent);
  opacity: 1;

  padding: 0;

  border-bottom: 1px solid var(--background-color-transparent);

  display: flex;
  justify-content: center;

  height: var(--header-height);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0 40px;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-icon {
  width: 55px;
  height: 55px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
}

.nav a:hover {
  color: var(--text-hover-color);
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  & .line {
    width: 23px;
    height: 3px;
    background-color: var(--text-color);
    transform-origin: center left;
    transform: rotate(0);
    transition: all 0.3s ease;
  }
}

.burger.open {
  :first-child {
    transform: rotate(45deg);
  }
  :nth-child(2) {
    opacity: 0;
  }
  :last-child {
    transform: rotate(-45deg);
  }

  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    padding: 0 20px;
    background-color: var(--main-color);

    height: 0;
    transition: all 0.4s ease;

    & a {
      opacity: 0;
      display: none;
      transition: opacity 0.4s ease;
    }
  }

  .nav.open {
    height: 100dvh;
    transition: all 0.4s ease;
    padding: 20px;

    & a {
      opacity: 1;
      display: flex;
      transition: opacity 0.4s ease;
    }
  }

  .burger {
    display: flex;
  }
}
